<html>
    <head>
        <title>Welcome</title>
    </head>        
</html>
{% extends "base.html" %}
{% block content %}

    <h1>"Hello {{ name }}, Welcome to the dungeon!"</h1>
    <p> Your pid is {{ playername }}</p>
    <p>Your rooms: <br> </p>
    {% for room in testrun.values %}
         "{{ room.id }}: {{ room.name }}, | {{  room.north }}, | {{ room.east }}, | {{ room.west }}, | {{ room.south }}, -({{room.xcoord }},{{ room.ycoord }})-"<br><br>
         
    {% endfor %}
        
{% endblock content %}
